<div id="bottom-nav">
    <a href="/" class="nav__link">
        <i class="ri-home-line nav__icon"></i>
    </a>
    <a href="/messages" class="nav__link">
        <i class="ri-chat-smile-3-line"></i>
    </a>
    <a href="/profile" class="nav__link">
        <i class="ri-user-line"></i>
    </a>
</div>